.hero-box{
    position: relative;
    padding-top: 191px;
    padding-bottom: 350px;
  }
  
  .hero-title {
    margin-bottom: 24px;
    max-width: 608px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height:1.25;
  
  color: var(--black);
  }
  .hero-par {
    margin-bottom: 24px;
  max-width: 608px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  
  color: var(--black);
  }
  .btn {
    margin-left: 194px;
  
  background: #71A894;
  border-radius: 8px;
  border: none;
  
  
  width: 219px;
  height: 64px;
  
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  
  color: #fff;
  
  cursor: pointer;
  
  transition-property: box-shadow;
  transition-duration: var(--time-trans);
  transition-timing-function: var(--cub-bez);
  }
  .btn:hover,.btn:focus{
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  }
  .hero-img-buble {
  
    position: absolute;
    top: 60px;
    right: 0;
    z-index: -2;
  }
  .hero-img {
    position: absolute;
    top: 82px;
    right: 0;
    z-index: -1;
  }
  @media (max-width: 468px) {
     .hero-box{
      padding: 40px 10px 40px 10px;
     }
     .hero-title{
      font-size: 32px;
      text-align: center;
     }
     .hero-par{
      font-size: 16px;
      
     }
     .hero-img {
      width:80%;
    }
    .hero-img-buble{
width: 80%;
    }
    .btn{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 120px;
      
    }
}
@media (min-width: 469px) and (max-width:1200px) {
  .hero-box{
    padding: 40px 20px 40px 20px;
   }
  .hero-title{
    font-size: 40px;
    max-width: 400px;
    
   }
   .hero-par{
    font-size: 18px;
    max-width: 400px;
    
   }
  
  .hero-img {
    width: 60%;
  }
  .hero-img-buble{
width: 60%;
  }
  .btn{
    width: 150px;
    
  }
}
@media (min-width:1200px) {

}