/* ============================================================================ */
:root{
  /* colors */
  --black:#303031;
  --green:#71A894;
  --bg:#F9F9F9;

  /* anim */
  --time-trans:250ms;
  --cub-bez:cubic-bezier(0.9, 0.1, 0.9, 1);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  /* outline: 1px solid red; */
}
.container {
  padding-left: 56px;
  padding-right: 56px;

  margin-left: auto;
  margin-right: auto;

  max-width: 1440px;
}
@media (max-width: 468px){
  .container{
    padding-left: 10px;
    padding-right: 10px;
}
}
body{
  background-color: var(--bg);
}
 html {
  scroll-behavior:smooth;
} 

/* =================================================================== */

/* ======================================================================= */
.line {
  margin-left: auto;
  margin-right: auto;
}
.line-img{
  width: 100%;
}

/* =========================================================================== */
.modal {
  position: fixed;
  z-index: 1000;
 left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);

}

@keyframes fadeInModal {
  from {
    opacity: 0;
     
  }
  to {
    opacity: 1;
    
  }
}


@keyframes fadeOutModal {
  from {
    opacity: 1;
     
  }
  to {
    opacity: 0;
     
  }
}


.modal.open {
 
  animation: fadeInModal 0.4s;
}


.modal.close {
 
  animation: fadeOutModal 0.4s;
}

.modal-content {
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);

  background-color: #fefefe;
  margin: 10% auto;
  padding: 40px 20px 20px 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;

}
@media  screen and (min-width:480px) {
  .modal-content {
    top:30%;
  }
}
@media  screen and (min-width:480px) and (max-width:768px) {
  .modal-content {
    top:40%;
  }
}

.close {
  fill: rgb(255, 121, 121);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close-btn{
  position: absolute;
  right:20px;
  top: 20px;
  border: none;
  background:none;
 cursor: pointer;

}

.close:hover,
.close:focus {
  fill: rgb(255, 0, 0);
  cursor: pointer;
}

/* Стили формы */
form input,
form textarea {
  resize: none;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border:1px solid grey;
  border-radius: 4px;

  transition-property: outline;
transition-duration: var(--time-trans);
transition-timing-function: var(--cub-bez);
}
form textarea{

  min-height: 100px;
  
}
form input:hover,
form textarea:hover{
  outline: 2px solid #00009c;
  outline-offset: -2px;

}
.coment-par{
  color: var(--black);

}
.modal-title{
  text-align: center;
font-weight: 700;
font-size: 24px;
line-height: 1.33;
letter-spacing: -0.02em;

color: var(--black);
}

form button[type="submit"] {
  margin-left: auto;
  margin-right: auto;

background: #71A894;
display: flex;
justify-content: center;
align-items: center;
border-radius: 8px;
border: none;


width: 219px;
height: 64px;

font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.33;
text-align: center;

color: #fff;

cursor: pointer;

transition-property: box-shadow;
transition-duration: var(--time-trans);
transition-timing-function: var(--cub-bez);
}

form button[type="submit"]:hover {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
}
form button svg {
  margin-left: 4px;
  fill:var(--bg);
}
/* ========================================================= */
#thank-you-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 100%;
  height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
 transition-property: transform;
 transition-duration: var(--time-trans);
 transition-timing-function: var(--cub-bez);
}
.thanks-win{
 padding: 18px 42px;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #F3F0EA;
  text-align: center;
  
  border-radius: 4px;
 
}
.thanks-win h4{
margin-bottom: 15px;
font-weight: 700;
font-size: 24px;
line-height: 1.33;
letter-spacing: -0.02em;

color: var(--black);
}
.thanks-win p{
margin-bottom: 20px;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.35;
text-align: center;
letter-spacing: -0.02em;
color: var(--black);
}
.noScroll {
  overflow: hidden;
}
.isHiden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;


  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  
  transition-property: transform;
  transition-duration: var(--time-trans);
  transition-timing-function: var(--cub-bez);
}
/* =========================================== */
/* menu-burger */

@media screen and (max-width:479px) {
  .menu-burger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color:#def2eb;
    transform: scaleX(0);
    transform-origin: 100%;

    transition:transform var(--time-trans ) var(--cub-bez);
  }

.menu-burger.menuIsOpen{
  transform: scaleX(1);
}

  .list-navigation{
    padding-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .burger-close{
    position: absolute;
    top:15px;
    right: 15px;
    margin-left: auto;
    margin-right: auto;
    border:none;
    background: none;
  
    transition: fill var(--time-trans)  var(--cub-bez);
  }
  .burger-close:hover{
   fill: var(--green);
  }
}
@media screen and (min-width:480px){
  .menu-burger{
    display: none;
  }
}